<!-- index.ejs -->

<%- include ("partials/header") %>

<!-- Blog entries -->
<div class="w3-col l8 s12">

  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <br>
      <h2>Post Section</h2>
      <span class="w3-opacity"> Here you'll see all the posts. </span>
    </div>
    <br>
  </div>

    <% posts.forEach(post => { %>
    <!-- Blog entry -->
    <div class="w3-card-4 w3-margin w3-white">
      <div class="w3-container">
        <br>
        <b><%= post.author %></b>
        <br>
        <span class="w3-opacity"><%= post.date %> <%= post.hour %> <%= post.isEdited %> </span>
        <br>
        <br>
        <h3 class="no-overflow"><a href="/post/<%= post.id %>"><b><%= post.title %></b></a></h3>
      </div>
  
      <div class="w3-container">
          <div class="post-content">
            <p><%= post.content %></p>
          </div>
        <div class="w3-row">
          <div class="w3-col m8 s12">
            <p>
              <button onclick="likePost('<%= post.id %>')" class="w3-button">
                <b>
                  <% if(post.isLiked) { %>
                  <img id="likeImage_<%= post.id %>" class="icon" src="/icons/like-pressed.png">
                  <% } else { %>
                  <img id="likeImage_<%= post.id %>" class="icon" src="/icons/like-unpressed.png">
                  <% } %>
                </b>
              </button>
            </p>
          </div>
          <div class="w3-col m4 w3-hide-small">
            <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag"><%= post.numberComments %></span></span></p>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
    <hr>
  <!-- END BLOG ENTRIES -->
</div>
  
<script src="/scripts/likePost.js"></script>

<%- include ("partials/rightPanel") %>

<%- include ("partials/footer") %>

