<%- include ("partials/header") %>

<!-- Blog entries -->
<div class="w3-col l8 s12">

  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <br>
      <h2>Post Section</h2>
      <span class="w3-opacity"> Here you'll see all the posts. </span>
    </div>
    <br>
  </div>

  <% posts.forEach(post => { %>
    <!-- Blog entry -->
    <a href="/post/<%= post.id %>">
    <div class="w3-card-4 w3-margin w3-white w3-hoverable hoverable">
      <div class="w3-container">
        <br>
        <b><%= post.author %></b>
        <br>
        <span class="w3-opacity"><%= post.date %> <%= post.hour %> <%= post.isEdited %></span>
        <br>
        <br>
        <h3 class="no-overflow"><b><%= post.title %></b></h3>
      </div>
  
        <div class="w3-container">
          <div class="post-content">
            <p ><%= post.content %></p>
          </div>
        </div>

        <div class="w3-container" style="padding-bottom: 16px;">
          <div class="w3-row">
              <div class="w3-col m12 s12">
                <p>
                  <span class="w3-padding-large w3-right comments-section">
                    <b>Comments  </b> 
                    <span class="w3-tag"><%= post.numberComments %></span>
                  </span>
                </p>
              </div>
            </div>
        </div>
    </div>
    </a>
    <% }); %>
    <hr>
  <!-- END BLOG ENTRIES -->
</div>

<%- include ("partials/rightPanel") %>

<%- include ("partials/footer") %>

